<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>
        <link rel="stylesheet" href="bootstrap.css" type="text/css">
        <style>
          .inner {
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            text-align: center;
          }
          main {
            display: table;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
          .middle {
            display: table-cell;
            vertical-align: middle;
          }
          .photo-not-found {
            width: 230px;
            height: 150px;
            margin-bottom: 22px;
          }
        </style>
    </head>
    <body>
      <main>
        <div class="middle">
          <div class="inner">
            <img class="photo-not-found" src="/404.png"/>
            <p>
              404 Not found
            </p>
          </div>
        </div>
      </main>
    </body>
</html>