<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home</title>
        <script type="text/javascript" src="/jq.js"></script>
        <script type="text/javascript" src="/bootstrap.js"></script>
        <link rel="stylesheet" href="/bootstrap.css" type="text/css">
        <script type="text/javascript" src="/check.js"></script>
        <style>
            .text-small {
                font-size: 85%;
            }

            .dropdown-toggle:not(:focus) {
                outline: 0;
            }
            .log-out-a {
                color: inherit;
                text-decoration: none;
            }
            .home-wrapper {
                width: 1000px;
                min-height: 700px;
                margin: 0 auto;
            }
            .home-section { 
                margin-bottom: 20px;
            }
            .photo {
                width: 300px;
                height: 200px;
                margin-bottom: 22px;
            }
            .empty-data {
                width: 1000px;
                height: 700px;
                text-align: center;
                align-items: center;
                align-content: center;
            }
        </style>
    </head>
    <body>
        <div class="modal fade" id="checkModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="checkModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-row">
                        <p id="comment-text"></p>
                        <h5 id="mark-text" style="margin-left: auto;"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/home" class="nav-link px-2 link-secondary">Home</a></li>
                        <% if (student.can_see_exams) { %> 
                            <li><a href="/exams" class="nav-link px-2 link-body-emphasis">Exams</a></li>
                        <% } %>
                    </ul>
            
                    <form id="search-form" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input id="search-input" type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
            
                    <div class="text-end">
                        <a href="/logout" class="btn btn-primary">Log Out</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section id="home-section" class="home-section">
                <div class="home-wrapper">
                    <% if (data.length == 0) { %> 
                        <div class="empty-data">
                            <img class="photo" src="empty.png"/>
                            <p>There is no tasks for you!</p>
                        </div>
                      <% } else { %> 
                            <% for(let i = 0; i < data.length; i++) {%>
                                <div class="card mt-4" data-id="<%=data[i].id%>">
                                    <div class="card-header">
                                        <%=data[i].title%>
                                    </div>
                                    <div class="card-body">
                                        <% if (data[i].ready) { %> 
                                            <span class="badge bg-success mb-2">Passed</span>
                                        <% } else { %> 
                                            <span class="badge bg-danger mb-2">Not passed!</span>
                                        <% } %>
                                        <p class="card-text"><%=data[i].body%></p>
                                        <% if (student.can_see_marks && data[i].ready) { %>
                                            <button type="button" class="btn btn-primary check-button">Check mark</button>
                                        <% } else if (student.can_see_marks) { %>
                                            <button type="button" class="btn btn-primary" disabled>Check mark</button>
                                        <%}%>
                                    </div>
                                </div>
                            <%}%>
                      <% } %>
                </div>
            </section>
        </main>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted" style="margin-left: 32px;">&copy; 2024 Sergeev Danila</p>
            <ul class="nav col-md-4 justify-content-end" style="margin-right: 32px;">
              <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
              <% if (student.can_see_exams) { %> 
                <li class="nav-item"><a href="/exams" class="nav-link px-2 text-muted">Exams</a></li>
            <%} %>
            </ul>
        </footer>
    </body>
</html>
